.dashboard {
  display: grid;
  grid-template-rows: 100px 1fr;
  margin-bottom: 64px;
}

.topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #42b5e8;
}

.topbar a h1 {
  text-decoration: none;
  color: #fff;
  font-family: 'Dynalight', cursive;
}
