.trackerContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 50px 1fr 50px;
  max-width: 800px;
  margin: auto;
}

.slideButtons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 3rem;
  padding: 1rem;
  cursor: pointer;
}

.foods {
  margin: auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.food {
  border: 2px solid white;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@media only screen and (min-width: 600px) {
  .foods {
    margin: auto;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}
